* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  padding: 20px;
  box-shadow: 4px 4px 8px 0px rgb(0 0 0 / 20%);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  margin-bottom: 50px;
}

.main .container {
  margin-top: 75px;
  padding: 40px;
  box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 20%);
}

.users__title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 50px;
  font-weight: 500;
}

.users__list__item {
  padding: 20px;
  box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 20%);
  margin-bottom: 15px;
}

.user__name {
  margin-right: 20px;
  font-size: 20px;
  font-weight: 600;
}

.user__date {
  font-size: 15px;
  color: gray;
}

.user__review {
  display: block;
  margin-top: 50px;
  font-size: 19px;
  font-weight: 300;
}

.paginations {
  display: flex;
  align-items: flex-end;
}

.paginations__ellipsis {
  padding: 5px 10px;
  margin-right: 10px;
}

.paginations__button {
  padding: 5px 10px;
  margin-right: 10px;
  background-color: transparent;
  border: none;
  box-shadow: 0px 0px 2px 0px rgb(0 0 0 / 20%);
  border-radius: 4px; 
  cursor: pointer;
}

.paginations__button__active {
  background-color: black;
  color: white;
  box-shadow: none;  
}

.paginations__button:hover {
  background-color: black;
  color: white;
  box-shadow: none;
}